.navbar {
    background-color: #000;
  }
.navwrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    color: #fff;
    height: 70px;
}
  .navbar-logo a {
    color: #ffd700;
    font-size: 1.5rem;
    text-decoration: none;
  }
  
  .navbar-menu {
    list-style: none;
    display: flex;
    gap: 1.5rem;
  }
  
  .navbar-menu li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
    transition: color 0.3s ease;
  }
  
  .navbar-menu li a:hover {
    color: #ffd700;
  }
  